<div class="translator-container">
  <div class="translator-title">Translator Title</div>
    <div class="inputANDoutput-container">
      <div class="input-container">
        <p id="inputTitle">Input Title</p>
        <mat-divider></mat-divider>
        <div id="inputTextBox">Text to translate goes in here</div>
      </div>
      <div class="output-container">
        <p id="outputTitle">Output Title</p>
        <mat-divider></mat-divider>
        <div id="outputTextBox">Translation output goes here</div>
      </div>
    </div>
    <div class="languageChoices-container">Language Choices and drop downs will go in here</div>
</div>
