<nav id="sidebar" class="navbar-dark bg-dark" [ngClass]="{'hidden': hideSideNav}">
  <button class="material-icons" id="toggle-button" (click)="toggleSideNav()" [ngClass]="{'hidden': hideToggleButton}">menu</button>
  <ul class="navbar-nav">
    <li class="nav-item active">
      <button class="nav-link" routerLink="/home">Click Buttons!</button>
    </li>
    <li class="nav-item">
      <button class="nav-link" routerLink="/movieTheater">Movie Theater</button>
    </li>
    <li class="nav-item" >
      <button class="nav-link" routerLink="/gameroom">The Gameroom</button>
    </li>
    <li class="nav-item" >
      <button class="nav-link" routerLink="/calculator">Calculator</button>
    </li>
    <p class="comingSoonText" style="text-align: center;">Other Apps Coming Soon!</p>
    <li class="nav-item" >
      <button class="nav-link-soon" href="#">The Ultimate Game of Games</button>
    </li>
    <li class="nav-item" >
      <button class="nav-link-soon" href="#">Inspirational Quotes</button>
    </li>
    <li class="nav-item">
      <button class="nav-link-soon" href="#">Let's Play Poker!</button>
    </li>
  </ul>
</nav>
