.landingPageContainer {
  display: flex;
  flex-wrap: wrap;
  // justify-content: flex-start;
  background-image: url("/assets/images/randomPictures/welcomePinkAndBlue.jpg");
  background-size: 95%;
  height: 100vh;
  // width: 100%;
}

h1 {
  font-family: Lobster-Regular;
  font-size: 40px;
  color: white;
  padding: 4%;
}


#clickHereText {
  height: 100px;
  color: rgb(250, 7, 141);
  font-family: PermanentMarker-Regular;
  font-size: 60px;
  padding-left: 4.5%;
  padding-top: 0.8%;
  animation-direction: normal;
}

@keyframes firstAnimation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

