.calculator-page-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 7.1%;
  height: 88.4vh;
  width: 86vw;
  background-image: url("/assets/images/randomPictures/mathematicsBackground.jpg");
  background-size: 100%;
}

.calculator5000 {
  font-family: Dark_Future_Italic;
  height: 9%;
  padding-top: 4%;
  margin-top: -6%;
  margin-left: 4%;
  color: red;
  font-size: 160px;
  text-shadow: 16px 10px 10px yellow;
  // background: fade-in($color: black, $amount: 0);
  background: black;
}

.calculator {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 4%;
  padding-right: 1.4%;
  height: 78.3%;
  width: 42%;
  background: radial-gradient(red,red,black);
  border-style: solid;
  border-width: 15px;
  border-color: red;
  border-radius: 20px;
  box-shadow: 0px 0px 40px 20px red;
}

.maindisplay {
  display: flex;
  justify-content: flex-end;
  height: 10%;
  width: 100%;
  background: radial-gradient(white,yellow);
  font-family: Futured;
  font-size: 60px;
  padding: 10px;
  padding-top: 15px;
  color: black;
}

.subdisplay {
  display: flex;
  justify-content: flex-end;
  height: 60px;
  width: 100%;
  background: linear-gradient(yellow, orange);
  font-family: Futured;
  font-size: 40px;
  padding: 10px;
  // border-style: solid;
  // border-width: 2px;
  // border-bottom: black;
  color: black;
}

.keypad {
  display: flex;
  flex-wrap: wrap;
}

.keys {
  margin: 0;
  width: 25%;
  height: 20%;
  background: radial-gradient(grey,black);
  color: red;
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  border-color: black;
  padding: 2%;
  font-family: Futured;
  text-align: center;
  // font-weight: bold;
  font-size: 68px;
  cursor: pointer;
}

.numkey {
  background: radial-gradient(yellow,orange,rgb(7, 7, 7));
}
