.gameroom-container {
  height: 100vh;
  width: 86vw;
  background-image: url("/assets/images/randomPictures/stageLights.jpg");
  background-size: 100%;
}

#choose-game-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 1;
  height: 40%;
  font-family: Gameshow;
  font-size: 200px;
  color: purple;
  text-shadow: rgb(225, 0, 255) 3px 10px 10px;
}

.gameChoices {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 10%;
  padding: 5%;
  padding-top: 15%;
}

.gamePaths {
  height: 160px;
  width: 300px;
  background: radial-gradient(white, rgb(253, 228, 4));
  border-style: solid;
  border-width: 4px;
  border-color: black;
  border-radius: 180px;
  font-family: Lobster-Regular;
  font-size: 60px;
  font-weight: bold;
  &:hover {
    background: radial-gradient(yellow,yellow,green);
    box-shadow: 0px 2px 80px 40px cyan;
    transition: all 0.6s;
  }
}
