<div class="gameroom-container">
  <h1 id='choose-game-text'>choose your game!</h1>




  <div class="gameChoices">
    <!-- <button (click)="changePosition(-1)" &#8594></button> -->
    <!-- <div id="theImage"></div> -->
    <button class="gamePaths" mat-raised-button routerLink="/ticTacToe">Tic-Tac-Toe</button>
    <button class="gamePaths" mat-raised-button routerLink="/snake">Snake</button>
    <button class="gamePaths" mat-raised-button routerLink="/tetris">Tetris</button>
    <button class="gamePaths" mat-raised-button routerLink="/hangman">Hangman</button>
    <!-- <button (click)="changePosition(1)" &#8594></button> -->
  </div>
</div>
